.link-generator {
    background: #eee;
    height: 100%;
    overflow-y: auto;
}

.label-text {
    color: initial !important;
}

.link-generator pre {
    background-color: initial !important;
    border: initial !important;

    padding-left: 2rem;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-indent: -2rem;
}