#adno-embed {
    width: 100vw;
    height: calc(100vh);
}

.osd-bar {
    position: relative;
    width: 100%;
    z-index: 10000;
}

.adno-embed-anno-fullscreen {
    z-index: 10000;
    flex: none;
    width: 20vw;
    min-width: 15vw;
    height: auto;
    background-color: white;
    color: cadetblue;
    border-radius: 2px;
    padding: 10px;
    overflow: auto;
    resize: both;
    max-height: 100%;
    font-size: x-large;
}

.loader {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}